<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wl.kmail.dao.TrashDao">
	<!-- all parameters -->
	<sql id="allTrashParams">id, owner, sender, recipient, createTime</sql>
	<!-- 动态条件查询trash -->
	<select id="getAllTrash" parameterType="Trash" resultType="Trash">SELECT 
		<include refid="allTrashParams"/> FROM `trash` 
		<where> 
			<!-- id of this trash -->  
			<if test=" id !=null and id !='' ">and id=#{id}</if>  
			<!-- owner of this trash -->  
			<if test=" owner !=null and owner !='' ">and owner=#{owner}</if>  
			<!-- sender of this trash -->  
			<if test=" sender !=null and sender !='' ">and sender=#{sender}</if>  
			<!-- recipient of this trash -->  
			<if test=" recipient !=null and recipient !='' ">and recipient=#{recipient}</if>  
			<!-- create time of this trash -->  
			<if test=" createTime !=null and createTime !='' ">and createTime=#{createTime}</if> 
		</where> 
	</select>

	<select id="getTrashById" parameterType="int" resultType="Trash">
		select <include refid="allTrashParams"/> from `trash` where id=#{id}
	</select>

	<!-- 动态保存trash -->
	<insert parameterType="Trash" id="addTrash">INSERT INTO `trash` 
		<trim prefix="(" suffix=")" suffixOverrides=","> 
			<!-- id of this trash -->  
			<if test=" id !=null and id !='' ">id,</if>  
			<!-- owner of this trash -->  
			<if test=" owner !=null and owner !='' ">owner,</if>  
			<!-- sender of this trash -->  
			<if test=" sender !=null and sender !='' ">sender,</if>  
			<!-- recipient of this trash -->  
			<if test=" recipient !=null and recipient !='' ">recipient,</if>  
			<!-- create time of this trash -->  
			<if test=" createTime !=null and createTime !='' ">createTime,</if> 
		</trim>  
		<trim prefix="values(" suffix=")" suffixOverrides=","> 
			<!-- id of this trash -->  
			<if test=" id !=null and id !='' ">#{id},</if>  
			<!-- owner of this trash -->  
			<if test=" owner !=null and owner !='' ">#{owner},</if>  
			<!-- sender of this trash -->  
			<if test=" sender !=null and sender !='' ">#{sender},</if>  
			<!-- recipient of this trash -->  
			<if test=" recipient !=null and recipient !='' ">#{recipient},</if>  
			<!-- create time of this trash -->  
			<if test=" createTime !=null and createTime !='' ">#{createTime},</if> 
		</trim>  
		<selectKey resultType="int" keyProperty="id" order="AFTER">select LAST_INSERT_ID()</selectKey> 
	</insert>
	<!-- 动态更新trash -->
	<update id="updateTrash" parameterType="Trash">update `trash` set 
		<trim suffixOverrides=","> 
			<!-- id of this trash -->  
			<if test=" id !=null and id !='' ">id=#{id},</if>  
			<!-- owner of this trash -->  
			<if test=" owner !=null and owner !='' ">owner=#{owner},</if>  
			<!-- sender of this trash -->  
			<if test=" sender !=null and sender !='' ">sender=#{sender},</if>  
			<!-- recipient of this trash -->  
			<if test=" recipient !=null and recipient !='' ">recipient=#{recipient},</if>  
			<!-- create time of this trash -->  
			<if test=" createTime !=null and createTime !='' ">createTime=#{createTime},</if> 
		</trim> WHERE id = #{id}
	</update>
	<!-- 根据id删除trash -->
	<delete id="removeTrashById" parameterType="int">delete from `trash` where id=#{id}</delete>
</mapper>
