<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wl.kmail.dao.UserDao">
	<!-- all parameters -->
	<sql id="allUserParams">id, username, password, email, headImg, isNew</sql>
	<!-- 动态条件查询user -->
	<select id="getAllUser" parameterType="User" resultType="User">SELECT 
		<include refid="allUserParams"/> FROM `user` 
		<where> 
			<!-- user id -->  
			<if test=" id !=null and id !='' ">and id=#{id}</if>  
			<!-- username -->  
			<if test=" username !=null and username !='' ">and username=#{username}</if>  
			<!-- password -->  
			<if test=" password !=null and password !='' ">and password=#{password}</if>  
			<!-- user email -->  
			<if test=" email !=null and email !='' ">and email=#{email}</if>  
			<!-- head img -->  
			<if test=" headImg !=null and headImg !='' ">and headImg=#{headImg}</if>  
			<!-- 0:is a new user 1:is not a new user -->  
			<if test=" isNew !=null and isNew !='' ">and isNew=#{isNew}</if> 
		</where> 
	</select>

	<select id="getUserById" parameterType="int" resultType="User">
		select <include refid="allUserParams"/> from `user` where id=#{id}
	</select>

	<!-- 动态保存user -->
	<insert parameterType="User" id="addUser">INSERT INTO `user` 
		<trim prefix="(" suffix=")" suffixOverrides=","> 
			<!-- user id -->  
			<if test=" id !=null and id !='' ">id,</if>  
			<!-- username -->  
			<if test=" username !=null and username !='' ">username,</if>  
			<!-- password -->  
			<if test=" password !=null and password !='' ">password,</if>  
			<!-- user email -->  
			<if test=" email !=null and email !='' ">email,</if>  
			<!-- head img -->  
			<if test=" headImg !=null and headImg !='' ">headImg,</if>  
			<!-- 0:is a new user 1:is not a new user -->  
			<if test=" isNew !=null and isNew !='' ">isNew,</if> 
		</trim>  
		<trim prefix="values(" suffix=")" suffixOverrides=","> 
			<!-- user id -->  
			<if test=" id !=null and id !='' ">#{id},</if>  
			<!-- username -->  
			<if test=" username !=null and username !='' ">#{username},</if>  
			<!-- password -->  
			<if test=" password !=null and password !='' ">#{password},</if>  
			<!-- user email -->  
			<if test=" email !=null and email !='' ">#{email},</if>  
			<!-- head img -->  
			<if test=" headImg !=null and headImg !='' ">#{headImg},</if>  
			<!-- 0:is a new user 1:is not a new user -->  
			<if test=" isNew !=null and isNew !='' ">#{isNew},</if> 
		</trim>  
		<selectKey resultType="int" keyProperty="id" order="AFTER">select LAST_INSERT_ID()</selectKey> 
	</insert>
	<!-- 动态更新user -->
	<update id="updateUser" parameterType="User">update `user` set 
		<trim suffixOverrides=","> 
			<!-- user id -->  
			<if test=" id !=null and id !='' ">id=#{id},</if>  
			<!-- username -->  
			<if test=" username !=null and username !='' ">username=#{username},</if>  
			<!-- password -->  
			<if test=" password !=null and password !='' ">password=#{password},</if>  
			<!-- user email -->  
			<if test=" email !=null and email !='' ">email=#{email},</if>  
			<!-- head img -->  
			<if test=" headImg !=null and headImg !='' ">headImg=#{headImg},</if>  
			<!-- 0:is a new user 1:is not a new user -->  
			<if test=" isNew !=null and isNew !='' ">isNew=#{isNew},</if> 
		</trim> WHERE id = #{id}
	</update>
	<!-- 根据id删除user -->
	<delete id="removeUserById" parameterType="int">delete from `user` where id=#{id}</delete>
</mapper>
